---
---
$oranje: rgba(214,111,38,1);
$lichtblauw: rgba(201, 208, 217, 1);
$donkerblauw: mix(white,#909DAA, 25%);

body{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
a{
    color:black;
}
a:hover{
    color:white;
}
.image_events{
    width: 200px;
    height: 150px;
}
.row_events{
    padding: 10px;
    margin-bottom: 2px;
    background-color: $lichtblauw;
}
.row_events:nth-child(odd){
    background-color: $donkerblauw;
}
.div_image{
    height: 150px;
    width: auto;
}

