---
---
$oranje: rgba(214,111,38,1);
$lichtblauw: rgba(201, 208, 217, 1);
$donkerblauw: #909DAA;

body{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.div_image{
    height: 150px;
    width: auto;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
}