<nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-md-4">
                <h3><a class="nav_link" href="javascript:history.back()"><span class="glyphicon glyphicon-chevron-left"></span></a></h3>
            </div>
            <div class="col-xs-8 col-md-4">
                <h3 class="text-center">{{ page.title }}</h3>
            </div>
            <div class="col-xs-2 col-md-4">
                <h3 class="text-right">
                <a class="nav_link" href="/home/favorieten"><span class="glyphicon glyphicon-heart-empty"></span></a>
                <a class="nav_link" href="/home/"><span class="glyphicon glyphicon-home"></span></a>
                </h3>
            </div>
        </div>
    </div>
</nav>